@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.contenedor {
    width: 80%;
    height: auto;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.izquierda {
    width: 30%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.derecha {
    width: 70%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.boton {
    padding: 2px;
    margin:2px;
}

.inputV{
    width:100%;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255,255,255,.8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0,0,0,.25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.foto {
    width: 90%;
    padding: 10%;
    transition: transform 0.7s;
}

    .foto:hover {
        transform: scale(1.3);
    }

@media screen and (max-width:500px){
    .foto {
        float: right;
        width: 60%;
        padding: 10%;
        transition: transform 0.7s;
    }
    .foto:hover {
        transform: scale(1.2);
    }
    .contenedor {
        max-width: 100%;
        width: 100%;
    }
}
